root = true

[*.{kt,kts}]
ktlint_code_style = android_studio
ktlint_standard_import-ordering = disabled
max_line_length = 1000

# Temporarily disabled rules to resolve one by one
ktlint_standard_class-signature = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_class-naming = disabled # Requires manual fix
ktlint_standard_package-name = disabled # Requires manual fix
ktlint_standard_property-naming = disabled # Requires manual fix
ktlint_standard_filename = disabled # Requires manual fix
