name: "Pull Request Review"
on:
  pull_request:
    branches:
      - 'develop'
      - 'master'

permissions:
  contents: read
  issues: read
  pull-requests: write
jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@a40b8845c0683271d9f53dfcb887a7e181d3918b # 0.9.1
        with:
          access_token: ${{ secrets.GH_ACCESS_TOKEN }}
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Ruby
        uses: ruby/setup-ruby@a4effe49ee8ee5b8b5091268c473a4628afb5651 # v1.245.0
        with:
          ruby-version: 3.3
          bundler-cache: true
      - name: Setup danger
        run: gem install danger
      - name: Git fetch
        run: git fetch -t
      - name: Run danger
        run: danger
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
