name: "Git-flow merge"
on:
  pull_request:
    types: [edited]
    branches: [master]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  check_that_current_pr_is_complete:
    if: ${{ github.repository != 'plaidev/karte-android-sdk' && github.event.pull_request.state == 'open' }}
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    outputs:
      completed: ${{ steps.check_completion.outputs.completed }}
    steps:
    - name: Check Completion
      id: check_completion
      env:
        BODY: ${{ github.event.pull_request.body }}
      run: |
        incomplete_task=$(echo "$BODY" | sed -n "/\- \[ \]/ p")
        if [ -z "$incomplete_task" ]; then
            echo "::set-output name=completed::true"
        else
            echo "::set-output name=completed::false"
        fi

  perform_merge:
    permissions:
      contents: write
    needs: [check_that_current_pr_is_complete]
    runs-on: ubuntu-latest
    if: needs.check_that_current_pr_is_complete.outputs.completed == 'true'
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Configure Git
      run: |
        git config user.email "git@users.noreply.github.com"
        git config user.name "${{ github.actor }}"
        git fetch
    - name: Merge to develop
      run: |
        git checkout develop
        git merge origin/${{ github.head_ref }} --no-ff -m "Merge ${{ github.head_ref }} into develop"
    - name: Push to develop
      uses: CasperWA/push-protected@74d25b8aa10e0c29024138735d32f3c0b75f9279 # v2.16.0
      with:
        token: ${{ secrets.GH_ACCESS_TOKEN }}
        branch: develop
    - name: Merge to master
      run: |
        git checkout master
        git merge origin/${{ github.head_ref }} --no-ff -m "Merge ${{ github.head_ref }} into master"
    - name: Push to master
      uses: CasperWA/push-protected@74d25b8aa10e0c29024138735d32f3c0b75f9279 # v2.16.0
      with:
        token: ${{ secrets.GH_ACCESS_TOKEN }}
        branch: master
