name: Test
on:
  push:
    branches:
      # `master` is tested in `publish.yml`.
      - develop
  pull_request:
    branches:
      - master
      - develop
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    if: github.repository != 'plaidev/karte-android-sdk'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '17'
      # Using the default caching strategy.
      # https://github.com/gradle/actions/blob/main/docs/setup-gradle.md#caching-build-state-between-jobs
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      # NOTE: Sample app requires google-services.json for building/testing.
      - name: Write dummy google-services.json
        run: |
          echo '{"project_info":{"project_number":"xxx","project_id":"xxx"},"client":[{"client_info":{"mobilesdk_app_id":"xxx","android_client_info":{"package_name":"io.karte.tracker_sample"}},"api_key":[{"current_key":"xxx"}]}]}' > examples/sample_java/google-services.json
          cp examples/sample_java/google-services.json examples/sample_kotlin/google-services.json
      - name: Download Dependencies
        run: ./gradlew androidDependencies
      - name: Dependency Guard check
        run: |
          ./gradlew dependencyGuard || (echo "❌ dependencyGuard failed. Dependencies have changed from the baseline. If this is intentional, run './gradlew dependencyGuardBaseline' locally and commit the updated baseline files. See https://github.com/dropbox/dependency-guard for details." && exit 1)
      - name: Build modules
        run: ./gradlew --stacktrace assembleDebug assembleRelease --parallel
      - name: Lint
        run: |
          ./gradlew --stacktrace lintRelease
          ./gradlew --stacktrace ktlint
      - name: Doc check
        run: ./gradlew dokkaHtmlMultiModule --parallel
      - name: API check
        run: |
          ./gradlew apiCheck -q || (echo "❌ apiCheck failed, If there are intended differences in the public API, you can run ./gradlew apiDump and commit the output. See more details https://github.com/Kotlin/binary-compatibility-validator." && exit 1)
      - name: Run tests
        id: run-tests
        run: ./gradlew --stacktrace --info testDebug --parallel
